#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config RT_OCF
	bool "RT-OCF Stack"
	default y
	---help---
			RT-OCF

if RT_OCF
source "$EXTERNALDIR/RT-OCF/os/linux/OCF_Kconfig"
endif
